<section class="card relative ">
    <div class="relative">
        <div class="wavyBackground   "></div>
        <div class=" cardHead absolute top-0 ">

            <div>
                <h5 class="m-0 ">عرض التذكرة الخاصة بالفيلم</h5>
            </div>
            <div>
                <img src="/assets/images/trash.svg " alt="delete " class="deleteIcon absolute ">
                <div class="tooltip absolute ">
                    <div>
                        <p>حذف</p>
                    </div>

                </div>
            </div>
            <div class="cardLink bg-white ">
                <div class="flex justify-content-around ">
                    <p class="text-900 m-0 font-medium ">www.tazkty.com/473847</p>
                    <img src="/assets/images/Group.svg " alt="copy ">
                </div>
            </div>

            <p style="margin-bottom: 17px; ">فعال حتي 15 يوليو 2023</p>
            <!--circles with border-->
            <div class="dots relative ">
                <div class="dot1 absolute "></div>
                <div class="dot2 absolute "></div>
            </div>
            <div class=" cardFooter ">

                <div class="flex justify-content-between ">
                    <div class="flex align-items-end justify-content-between ">
                        <div>
                            <p style="font-size: 13px; ">خصم<br>
                                <span style="font-size: 18px; ">25%</span></p>
                        </div>
                        <a href="# " title="share "> <img src="/assets/images/send-2.svg " alt="send "> مشاركة</a>

                    </div>
                    <img src="/assets/images/qr_img 1.png " alt="Qr Code ">


                </div>

            </div>
        </div>
    </div>


</section>